* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: #362d1b;
    overflow: hidden;
}

.wrapper {
    height: 35rem;
    margin: 1rem auto;
    position: relative;
    width: 35rem;
}

.wrapper > input {
    display: none;
}

.slider {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.img-container {
    width: 100%;
    height: auto;
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
}

.slides {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 0;
    transform: scale(0.5);
    transition: all ease-in-out 1.5s;
}

.anotattion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.desq {
    width: 10rem;
    margin-top: 0.6rem;
    margin-left: 1rem;
}

.text-slides {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 10rem;
    text-align: center;
    border: 2px solid #32a4a8;
    border-radius: 0.5rem;
    color: #d6882f;
    padding: 0.3rem;
}

.nav {
    margin-right: 1rem;
}

.label {
    cursor: pointer;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 1rem 0.5rem;
    border-radius: 50%;
    transition: background ease-in-out 0.5s;
    background-color: #32a4a8;
}

.label,
#slide1:checked ~ .anotattion .nav label:nth-of-type(1),
#slide2:checked ~ .anotattion .nav label:nth-of-type(2),
#slide3:checked ~ .anotattion .nav label:nth-of-type(3),
#slide4:checked ~ .anotattion .nav label:nth-of-type(4),
#slide5:checked ~ .anotattion .nav label:nth-of-type(5) {
    background: #d6882f;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

#slide1:checked ~ .anotattion .desq > .text-slide1,
#slide2:checked ~ .anotattion .desq > .text-slide2,
#slide3:checked ~ .anotattion .desq > .text-slide3,
#slide4:checked ~ .anotattion .desq > .text-slide4,
#slide5:checked ~ .anotattion .desq > .text-slide5 {
    opacity: 1;
    z-index: 1;
}

.label,
#slide1:not(:disabled):not(:checked)
    ~ .anotattion
    .nav
    label:hover:nth-of-type(1),
#slide2:not(:disabled):not(:checked)
    ~ .anotattion
    .nav
    label:hover:nth-of-type(2),
#slide3:not(:disabled):not(:checked)
    ~ .anotattion
    .nav
    label:hover:nth-of-type(3),
#slide4:not(:disabled):not(:checked)
    ~ .anotattion
    .nav
    label:hover:nth-of-type(4),
#slide5:not(:disabled):not(:checked)
    ~ .anotattion
    .nav
    label:hover:nth-of-type(5) {
    background: #fff;
}

.label,
#slide1:not(:checked) ~ .anotattion.nav label:nth-of-type(1),
#slide2:not(:checked) ~ .anotattion.nav label:nth-of-type(2),
#slide3:not(:checked) ~ .anotattion.nav label:nth-of-type(3),
#slide4:not(:checked) ~ .anotattion.nav label:nth-of-type(4),
#slide5:not(:checked) ~ .anotattion.nav label:nth-of-type(5) {
    background: #32a4a8;
}

@media screen and (max-width: 999.98px) {
    body {
        overflow: visible;
    }

    .anotattion {
        flex-direction: column;
        padding-bottom: 3rem;
    }

    .nav {
        order: 1;
        margin: 0 auto;
        margin-top: -3rem;
    }
    .desq {
        margin: 0 auto;
        margin-top: 3rem;
        margin-left: 0;
    }
}

@media screen and (max-width: 799.98px) {
    .wrapper {
        height: 30rem;
        width: 30rem;
    }
}

@media screen and (max-width: 599.98px) {
    .wrapper {
        height: 25rem;
        width: 25rem;
    }
}

@media screen and (max-width: 459.98px) {
    .wrapper {
        height: 18rem;
        width: 18rem;
    }
}
